server {
    listen ${PORT};
    gzip_static on;
    root /usr/share/nginx/html/;

    location /api/ {
        proxy_pass http://${BACKEND_URL}/;
    }
    
    location / {
      try_files $uri /index.html;
    }
}
